streamlit
pandas
numpy<2.0.0
plotly
matplotlib
seaborn
langchain
langchain-community
langchain-huggingface
langchain-mistralai
langchain-experimental
faiss-cpu
sentence-transformers
tabulate
torchvision