--extra-index-url https://download.pytorch.org/whl/cpu
torch
streamlit
pandas
numpy<2.0.0
plotly
matplotlib
seaborn
langchain
langchain-community
langchain-huggingface
langchain-experimental
faiss-cpu
sentence-transformers
tabulate
